.gradle/
build/
doc/*
.settings
design/.*#
design/*.png
design/*.gif
acal.db
.cil
issues
.tx
design/10*.odt
design/acal_icon.ico
design/Promotional.svg
design/main-screen-portrait.svg
design/setup_background.svg
timezones/vtimezones
timezones/tzdata
design/screenshot*
local.properties
secure.properties
keystore.properties
*.jks
*.keystore
apk/
design/*.odt
design/*.gnumeric
design/*.ods
traces.txt
.idea
*.ics

# Local scratch dir (not committed)
.tmp/

# Test fixtures
!src/test/resources/**/*.ics
