<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:name="org.davical.acal.AcalApplication"
        android:description="@string/appDescription"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.aCal.NoActionBar"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="org.davical.acal.aCal"
            android:exported="true"
            android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.aCalTasks"
            android:description="@string/appDescriptionTasks"
            android:exported="true"
            android:icon="@drawable/ic_launcher_tasks"
            android:label="@string/appNameTasks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.aCalNotes"
            android:description="@string/appDescriptionNotes"
            android:exported="true"
            android:icon="@drawable/ic_launcher_journals"
            android:label="@string/appNameNotes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.MonthView"
            android:exported="false"
            android:label="@string/appActivityMonthView"
            android:theme="@style/Theme.aCal.NoActionBar">
            <intent-filter>
                <action android:name="org.davical.acal.activity.MonthView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.YearView"
            android:exported="false"
            android:label="@string/appActivityYearView"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.YearView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.weekview.WeekViewActivity"
            android:exported="false"
            android:label="@string/appActivityWeekView"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.weekview.WeekViewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.serverconfig.ServerConfigList"
            android:exported="false"
            android:label="@string/appActivityAccounts"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.serverconfig.ServerConfigList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.serverconfig.AddServerList"
            android:exported="false"
            android:label="@string/appActivityAddServerList"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.serverconfig.AddServerList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.CollectionConfigList"
            android:exported="false"
            android:label="@string/appActivityCollectionConfigList"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.CollectionConfigList" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.DebugSettings"
            android:exported="false"
            android:label="@string/appActivityDebugSettings"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.DebugSettings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.serverconfig.ServerConfiguration"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.serverconfig.ServerConfiguration" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.serverconfig.NewServerConfiguration"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.serverconfig.NewServerConfiguration" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.CollectionConfiguration"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.CollectionConfiguration" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.EventView"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.EventView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.EventEdit"
            android:exported="false"
            android:icon="@drawable/ic_launcher_events"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.EventEdit" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.TodoListView"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/Theme.aCal.NoActionBar">
            <intent-filter>
                <action android:name="org.davical.acal.activity.TodoListView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.JournalListView"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/Theme.aCal.NoActionBar">
            <intent-filter>
                <action android:name="org.davical.acal.activity.JournalListView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.TodoView"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.TodoView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.JournalView"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.JournalView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.TodoEdit"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.TodoEdit" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.JournalEdit"
            android:exported="false"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="org.davical.acal.activity.JournalEdit" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.ShowUpgradeChanges"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/Theme.aCal.NoActionBar">
            <intent-filter>
                <action android:name="org.davical.acal.activity.ShowUpgradeChanges" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.AcalPreferences"
            android:exported="false"
            android:label="@string/appActivitySettings"
            android:launchMode="standard"
            android:theme="@style/Theme.aCal.NoActionBar">
            <intent-filter>
                <action android:name="org.davical.acal.activity.AcalPreferences" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.widget.NumberPicker"
            android:exported="false"
            android:label="Number Picker">
            <intent-filter>
                <action android:name="org.davical.acal.widget.NumberPicker" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.davical.acal.activity.CertificatePinActivity"
            android:exported="false"
            android:label="@string/cert_title_new"
            android:launchMode="singleTop" />

        <service
            android:name="org.davical.acal.service.ContactsSyncAdapterService"
            android:exported="true"
            android:permission="android.permission.WRITE_CONTACTS"
            android:process=":contacts">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />
        </service>

        <provider
            android:name="org.davical.acal.providers.Servers"
            android:authorities="org.davical.acal.servers"
            android:exported="false" />
        <provider
            android:name="org.davical.acal.providers.PathSets"
            android:authorities="org.davical.acal.pathsets"
            android:exported="false" />
        <provider
            android:name="org.davical.acal.providers.Timezones"
            android:authorities="org.davical.acal.timezones"
            android:exported="false" />
        <provider
            android:name="org.davical.acal.providers.DavCollections"
            android:authorities="org.davical.acal.collections"
            android:exported="false" />
        <provider
            android:name="org.davical.acal.providers.CacheDataProvider"
            android:authorities="org.davical.acal.cache"
            android:exported="false" />
        <provider
            android:name="org.davical.acal.providers.AlarmDataProvider"
            android:authorities="org.davical.acal.alarms"
            android:exported="false" />

        <service
            android:name="org.davical.acal.service.aCalService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.davical.acal.service.aCalService" />
            </intent-filter>
        </service>
        <service
            android:name="org.davical.acal.service.AcalAuthenticator"
            android:exported="true"
            android:permission="android.permission.AUTHENTICATE_ACCOUNTS"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <receiver
            android:name="org.davical.acal.receivers.StartUpIntentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.davical.acal.activity.AlarmReceiver"
            android:exported="false" />
        <receiver
            android:name="org.davical.acal.desktop.ShowUpcomingWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/show_upcoming_widget_info" />
        </receiver>
        <receiver
            android:name="org.davical.acal.receivers.TimezoneChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.davical.acal.receivers.iMIPReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:pathPattern=".*\\.ics"
                    android:scheme="content" />
                <data
                    android:pathPattern=".*\\.ics"
                    android:scheme="file" />
                <data
                    android:pathPattern=".*\\.ics"
                    android:scheme="http" />
                <data android:scheme="webcal" />
                <data android:mimeType="text/calendar" />
                <!-- the next two lines aren't working atm -->
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.ics" />
                <data
                    android:mimeType="text/*"
                    android:pathPattern=".*\\.ics" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
